:root{
    --background-color: rgb(19, 19, 19, 1);
    --color-primary: rgb(26, 26, 26, 1);
    --color-secondary: rgb(86, 73, 234);
    --text-secondary: rgb(149, 149, 149, 1);
    --text-primary: rgb(217, 217, 217, 1);
    --pad: max(20px, 4vmin);
}

html{

        scroll-behavior: smooth;
    
    }

body {
    background-color: var(--background-color);
    /* overscroll-behavior: none;     */
}
body::-webkit-scrollbar {
    display: none;}

*{
    box-sizing: border-box;
}

h1, h2, h3, a, p, span{
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-family: 'Clash Display', sans-serif;
    font-weight: 600;
    font-size: 4rem;
}

a, p, span{
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

a{
    text-decoration: none;
}

ul, ol{
    margin: 0;
    padding: 0;
}

li{
    margin: .5rem 0 0 0;
    list-style: none;
}

.text-center{
    text-align: center;
    width: 100%;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
